<%= simple_form_for(question_path, html: { class: 'form-vertical' }, method: :put, :defaults => {:required => false}) do |f| %>

  <fieldset id="type">
    <legend>Question Details</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <%= f.input :question_type, id: 'change-type', label: 'What type of answer should this question accept?', as: :radio_buttons, :collection => ['Text', 'True or False', 'Multiple Choice', 'Date and Time'], error: 'Please specify a question type.' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= f.input :question, label: 'What should the question ask?', error: 'A question is required.' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :step, label: 'Which step of the workflow should this question appear on?', collection: ['identity', 'demographics', 'disposition', 'medical'], selected: 'identity' %>
        </div>
      </div>
      <div class="row" id="required_question">
        <div class="col-md-12">
          <%= f.input :required, label: 'Should this question should be mandatory?', as: :boolean, checked_value: true, unchecked_value: false %>
        </div>
      </div>
      <div class="row" id="multiple-choice">
        <div class="col-md-12">
          <%= f.input :multi_options, label: 'What options should be available? Please enter a comma-seperated list of options. For example: blue,brown,green', error: 'A question is required.' %>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="text-right">
    <%= f.button :button, 'Cancel', url: questions_path, class: 'btn btn-none' %>
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>

<% end %>

<script>
  $(document).ready(function() {
    // Questions with extras should stay hidden
    $('#multiple-choice').hide();
    $('#required_question').hide();
    
    // If the user selects a question that requires extra information,
    // show it; else hide it
    $(':radio').change(function() {
      if ($(this).prop('checked')) {
        choice = $(this).val()
        if (choice == 'Multiple Choice') {
          $('#multiple-choice').fadeIn();
        } else {
          $('#multiple-choice').fadeOut();
        }
        if ($.inArray(choice, ['Text', 'Multiple Choice', 'Date and Time']) > -1) {
          $('#required_question').fadeIn();
        } else {
          $('#required_question').fadeOut();
        }
      }
    });
  });
</script>