<%= render 'components/breadcrumb', crumbs: {"Dashboard" => death_records_path, "My Account" => nil} %>
<div class="container-fluid">
  <%= devise_error_messages! %>
  <h3>My Account Settings</h3>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <fieldset>
            <legend>Current Password</legend>
            <div class="field">
              <%= f.label :current_password %>
              <i>(We need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off" %>
            </div>
          </fieldset>
          <fieldset>
            <legend>Edit My Information</legend>
            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
            </div>
            <div class="field">
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
            </div>
            <div class="field">
              <%= f.label 'Telephone #' %>
              <%= f.text_field :telephone %>
            </div>
            <div class="actions">
              <%= f.submit "Save", class: 'btn btn-primary' %>
            </div>
          </fieldset>
        </div>
          <div class="col-md-6">
            <fieldset>
              <legend>Change My Password</legend>
              <div class="field">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off" %><br />
              </div>
              <div class="field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %><br />
              </div>
              <div class="actions">
                <%= f.submit "Save", class: 'btn btn-primary' %>
              </div>
            </fieldset>
          <% end %>
      </div>
    </div>
  </div>
</div>
