<div class="mt-3 mb-3">
  <%= react_component('Breadcrumb', {currentUser: current_user, crumbs: [{ name: 'Dashboard', url: death_records_path }, { name: 'Administration' }]}) %>
</div>
<div class="row mb-3">
  <h3>Administration Tools</h3>
  <hr/>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Tool</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a class="btn btn-primary btn-block" href="<%= importing_index_path %>"><span class="fa fa-upload"></span> Import FHIR Records</a>
        </td>
        <td>
          Import FHIR records into Nightingale by uploading them.
        </td>
      </tr>
      <tr>
        <td>
          <a class="btn btn-primary btn-block" href="<%= users_path %>"><span class="fa fa-user"></span> User Accounts</a>
        </td>
        <td>
          Shows the users currently registered with this system.
        </td>
      </tr>
      <!-- <tr>
        <td>
          <a class="btn btn-primary btn-block disabled" href="<%= questions_path %>"><span class="fa fa-search"></span> Questions</a>
        </td>
        <td>
          Create, edit, and delete custom supplemental questions that will be asked throughout the death record creation workflow.
        </td>
      </tr> -->
      <tr>
        <td>
          <a class="btn btn-primary btn-block" href="<%= reports_path %>"><span class="fa fa-bar-chart"></span> Audit Report</a>
        </td>
        <td>
          View the system audit report, which contains logs of all the actions users have taken during the use of this system.
        </td>
      </tr>
      <tr>
        <td>
          <a class="btn btn-primary btn-block" href="<%= statistics_path %>"><span class="fa fa-dashboard"></span> Statistics</a>
        </td>
        <td>
          View statistics about the usage of this system.
        </td>
      </tr>
      <tr>
        <td>
          <a class="btn btn-primary btn-block" href="<%= analysis_index_path %>"><span class="fa fa-pie-chart"></span> Records Analysis</a>
        </td>
        <td>
          View analysis reports about the records contained in Nightingale.
        </td>
      </tr>
      <tr>
        <td>
          <a class="btn btn-primary btn-block" href="<%= export_records_in_ije_path %>"><span class="fa fa-download"></span> IJE Export</a>
        </td>
        <td>
          Export all registered death records in IJE format
        </td>
      </tr>
    </tbody>
  </table>
</div>
