<div class="container">
  <fieldset>
    <legend>Quick Actions</legend>
    <table class="table">
      <thead>
        <tr>
          <th>Action</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a class="btn btn-primary" href="<%= questions_path %>"><span class="fa fa-search"></span> Questions</a>
          </td>
          <td>
            Create, edit, and delete custom supplemental questions that will be asked throughout the death record creation workflow.
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <legend>User Accounts</legend>
    <% if !@users.nil? && !@users.empty? %>
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Last Sign In</th>
            <th>Death Record Count</th>
            <th>Roles</th>
            <th>Actions<th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.email %>
              </td>
              <td>
                <%= user.last_sign_in_at %>
              </td>
              <td>
                <%= DeathRecord.where(owner_id: user.id).count %>
              </td>
              <td>
                <% user.roles.as_json.each do |role| %>
                  <% if role == user.roles.as_json.last %>
                    <%= role['name'].humanize %>
                  <% else %>
                    <%= role['name'].humanize %>,&nbsp;
                  <% end %>  
                <% end %>
              </td>
              <td>
                <!-- <%= link_to '<span class="fa fa-user-md"></span> Log In As User'.html_safe, become_user_url(user), :class => "btn btn-primary" %> -->
                <%= link_to '<span class="fa fa-trash"></span> Delete'.html_safe, delete_user_url(user), data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="row">
        <div class="col-centered text-center"><p><h4>No users currently registered.</h4></p></div>
      </div>
    <% end %>
  </fieldset>
</div>
