<body class="auth-body">
  <div class="auth-container">
    <div class="row align-items-center">
      <div class="col16-md-10">
        <span class="auth-title-name">Nightingale</span><br />
        <span class="auth-title-desc">An Open Source Electronic Death Registration System.</span><br />
        <a class="auth-title-link" href="https://www.cdc.gov/nchs/nvss/modernization/">learn more</a>
      </div>
      <div class="col16-md-6">
        <div class="auth-sign-in-box">
          <span class="auth-title">Reset Pass.</span><br />
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.label :email, :class => 'mt-2 auth-label'  %><br />
            <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
            <%= f.submit 'Send reset instructions', :class => 'btn btn-primary auth-label mt-3 mb-3' %>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
  <div class="auth-attribution">
    <a href="https://www.flickr.com/photos/francesco_veronesi/19175825750/">Common Nightingale</a>
    by
    <a href="https://www.flickr.com/people/30818542@N04">Francesco Veronesi</a>
    is licensed under
    <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
  </div>
</div>
