<%= javascript_include_tag 'application' %>

<%= link_to 'Edit profile', edit_user_registration_path %> | <%= link_to 'Logout', destroy_user_session_path %>

<br>

<% if current_user.has_role? :funeral_director %>
  <h1>Create New Death Record</h1>
  <%= link_to 'New Death Record', death_records_path, method: :post %>
<% end %>

<br>

<h1>Your Active Death Records</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @death_records.each do |death_record| %>
      <tr>
        <td><%= link_to 'Show', death_record %></td>
        <td><%= link_to 'Edit', edit_death_record_path(death_record) %></td>
        <td><%= link_to 'Delete', death_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
