<p id="notice"><%= notice %></p>

<h1>Death Records</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @death_records.each do |death_record| %>
      <tr>
          <!-- TODO: Need to add fields, if this is to be used -->
          
        <td><%= link_to 'Show', death_record %></td>
        <td><%= link_to 'Edit', edit_death_record_path(death_record) %></td>
        <td><%= link_to 'Destroy', death_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Death Record', new_death_record_path %>
