<% if current_user.has_role? :funeral_director %>
  <div class="container">
    <%= link_to 'New Death Record', death_records_path, method: :post, :class => "btn btn-success" %>
  </div>
<% end %>

<div class="container">
  <div class="list-group">

    <% @death_records.each do |death_record| %>
      <li class="list-group-item">
        Created: <%= death_record.created_at %>
        <div class="btn-group">
          <%= link_to 'Continue', death_record_step_path(death_record, id: death_record.record_status), :class => "btn btn-primary" %>
          <%= link_to 'View', death_record, :class => "btn btn-primary" %>
          <%= link_to 'Delete', death_record, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
        </div>
      </li>
    <% end %>

  </div>
</div>
