<script>
  $(document).ready(function () {
    // Create datatables instance of death records table
    $('#death_records_table').DataTable({
      'language': {
        <% if current_user.admin? %>
          'emptyTable': 'No death records in the system.',
        <% else %>
          'emptyTable': 'You currently have no open death records.',
        <% end %>
        'lengthMenu': 'Display _MENU_ records per page',
        'info': 'Showing _PAGE_ of _PAGES_'
      },
      'columnDefs': [
        { orderable: false, targets: <%= (3..(2 + StepsHelper.steps.count)).to_a.push(3 + StepsHelper.steps.count) %> },
        { "width": "25%", "targets": [0] },
        { "width": "20%", "targets": [1, 2] },
        { "width": "15%", "targets": [<%= (3 + StepsHelper.steps.count) %>] }
      ]
    });
    // Create datatables instance of transferred death records table
    $('#transferred_death_records_table').DataTable({
      'language': {
        'emptyTable': 'You currently have no transferred death records.',
        'lengthMenu': 'Display _MENU_ records per page',
        'info': 'Showing _PAGE_ of _PAGES_'
      },
      'columnDefs': [
        <% if current_user.registrar? %>
          { orderable: false, targets: [3] },
          { "width": "30%", "targets": [0, 1, 2] }
        <% else %>
          { orderable: false, targets: <%= (3..(2 + StepsHelper.steps.count)).to_a %> },
          { "width": "20%", "targets": [0] },
          { "width": "15%", "targets": [1, 2] },
          { "width": "25%", "targets": [<%= (3 + StepsHelper.steps.count) %>] }
        <% end %>
      ]
    });
    // Create datatables instance of voided death records table
    $('#voided_death_records_table').DataTable({
      'language': {
        <% if current_user.admin? %>
          'emptyTable': 'No voided death records in the system.',
        <% else %>
          'emptyTable': 'You currently have no voided death records.',
        <% end %>
        'lengthMenu': 'Display _MENU_ records per page',
        'info': 'Showing _PAGE_ of _PAGES_'
      },
      'columnDefs': [
        { orderable: false, targets: <%= (3..(2 + StepsHelper.steps.count)).to_a.push(3 + StepsHelper.steps.count) %> },
        { "width": "20%", "targets": [0] },
        { "width": "15%", "targets": [1, 2] }
      ]
    });
    // Draw death record completion time bar chart
    $.get("statistics/bar_average_completion", function (data, status) {
      $('#bar_average_completion').replaceWith(data);
    });
    // Draw death record age pie chart
    $.get("statistics/pie_death_record_ages_by_range", function (data, status) {
      $('#pie_death_record_ages_by_range').replaceWith(data);
    });
    // Initialize tooltips
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<div class="row">
  <div class="col-md-6">
    <%= render 'components/breadcrumb', crumbs: {"Dashboard" => nil} %>
  </div>
  <div class="col-md-6">
    <div class="breadcrumb pull-right bold-text">
      <%= GreetingHelper.pretty_greeting(current_user) %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% if !current_user.admin? && !current_user.registrar? %>
    <div class="row">
      <div class="col-md-6">
        <h3>Age of My Open Records</h3>
        <hr/>
      </div>
      <div class="col-md-6">
        <h3>Average Completion Time</h3>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="pie_death_record_ages_by_range"></div>
      </div>
      <div class="col-md-6">
        <div id="bar_average_completion"></div>
      </div>
    </div>
    <div class="top-padding-lg"></div>
  <% end %>

  <h3>
    <% if current_user.admin? %>
      All Records
    <% elsif current_user.registrar? %>
      Records for Review
    <% else %>
      My Open Records
    <% end %>
    <% if policy(DeathRecord).create? %>
      <span class="pull-right"><%= link_to '<span class="fa fa-plus"></span> New Death Record'.html_safe, death_records_path, method: :post, :class => "btn btn-primary" %></span>
    <% end %>
  </h3>
  <hr/>
  <div>
    <% if !@death_records.nil? %>
      <table class="table" id="death_records_table" class="death-records-table">
        <thead>
          <tr>
            <th class="dt-header"></th>
            <th class="dt-header"></th>
            <th class="dt-header"></th>
            <th colspan="<%= StepsHelper.steps.count %>" class="text-center dt-header-bottom">Completion Status</th>
            <th class="dt-header"></th>
          </tr>
          <tr>
            <th class="dt-header-bottom">Decedent Name</th>
            <th class="dt-header-bottom">Start Date</th>
            <th class="dt-header-bottom">Last Updated</th>
            <% StepsHelper.steps_short.each do |step| %>
              <th class="text-center">
                <%= step.humanize %>
              </th>
            <% end %>
            <th class="dt-header-bottom text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @death_records.each do |death_record| %>
            <tr>
              <td>
                <!-- Decedent Name -->
                <%= NameHelper.pretty_decedent_name(death_record) %>
              </td>
              <td>
                <!-- Death Record Start Date -->
                <%= DatetimeHelper.pretty_date(death_record.created_at) %>
              </td>
              <td>
                <!-- Death Record Last Updated -->
                <%= DatetimeHelper.pretty_date(death_record.updated_at) %>
              </td>
                <!-- Completion Status -->
                <% StepsHelper.steps.each do |step| %>
                  <td class="text-center">
                    <%= render 'components/step_status', status: StepsHelper.step_status(step, death_record) %>
                  </td>
                <% end %>
              <td>
                <!-- Actions -->
                <div class="text-center">
                  <% if policy(:step).show? %>
                    <%= link_to death_record_step_path(death_record, id: death_record.record_status), { :class => 'edrs-bc-link', 'data-toggle' => 'tooltip', :title => 'Continue' } do %><span class="fa fa-play-circle action-font"></span><% end %>
                  <% end %>
                  <%= link_to death_record, { :class => 'edrs-bc-link', 'data-toggle' => 'tooltip', :title => 'View' }  do %><span class="fa fa fa-search action-font"></span><% end %>
                  <% if current_user.id == death_record.creator_id || current_user.admin? %>
                    <%= link_to death_record, { :method => :delete, :confirm => 'Are you sure?', :class => 'edrs-bc-link', 'data-toggle' => 'tooltip', :title => 'Void' } do %><span class="fa fa fa-trash action-font"></span><% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<% unless current_user.admin? %>
  <div class="container-fluid top-padding-lg">
    <h3>
      <% if current_user.registrar? %>
        Certified Records
      <% else %>
        My Transferred Records
      <% end %>
    </h3>
    <hr/>
    <div>
      <% if current_user.registrar? %>
        <table class="table" id="transferred_death_records_table" class="death-records-table">
          <thead>
            <tr>
              <th class="dt-header"></th>
              <th class="dt-header"></th>
              <th class="dt-header"></th>
              <th class="dt-header"></th>
            </tr>
            <tr>
              <th class="dt-header-bottom">Decedent Name</th>
              <th class="dt-header-bottom">Start Date</th>
              <th class="dt-header-bottom">Registered Date</th>
              <th class="dt-header-bottom"></th>
            </tr>
          </thead>
          <tbody>
            <% @transferred_death_records.each do |death_record| %>
              <tr>
                <td>
                  <!-- Decedent Name -->
                  <%= NameHelper.pretty_decedent_name(death_record) %>
                </td>
                <td>
                  <!-- Death Record Start Date -->
                  <%= DatetimeHelper.pretty_date(death_record.created_at) %>
                </td>
                <td>
                  <!-- Death Record Registered -->
                  <%= DatetimeHelper.pretty_date(death_record.time_registered) %>
                </td>
                <td>
                  <!-- View -->
                  <div class="text-right">
                    <%= link_to '<span class="fa fa-search"></span> View'.html_safe, death_record, :class => "btn-sm btn-primary" %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <table class="table" id="transferred_death_records_table" class="death-records-table">
          <thead>
            <tr>
              <th class="dt-header"></th>
              <th class="dt-header"></th>
              <th class="dt-header"></th>
              <th colspan="<%= StepsHelper.steps.count %>" class="text-center dt-header-bottom">Completion Status</th>
              <th class="dt-header"></th>
            </tr>
            <tr>
              <th class="dt-header-bottom">Decedent Name</th>
              <th class="dt-header-bottom">Start Date</th>
              <th class="dt-header-bottom">Last Updated</th>
              <% StepsHelper.steps_short.each do |step| %>
                <th class="text-center">
                  <%= step.humanize %>
                </th>
              <% end %>
              <th class="dt-header-bottom">
                <div class="table-padding-left">
                  Current Owner
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @transferred_death_records.each do |death_record| %>
              <tr>
                <td>
                  <!-- Decedent Name -->
                  <%= NameHelper.pretty_decedent_name(death_record) %>
                </td>
                <td>
                  <!-- Death Record Start Date -->
                  <%= DatetimeHelper.pretty_date(death_record.created_at) %>
                </td>
                <td>
                  <!-- Death Record Last Updated -->
                  <%= DatetimeHelper.pretty_date(death_record.updated_at) %>
                </td>
                  <!-- Completion status -->
                  <% StepsHelper.steps.each do |step| %>
                    <td class="text-center">
                      <%= render 'components/step_status', status: StepsHelper.step_status(step, death_record) %>
                    </td>
                  <% end %>
                <td>
                  <!-- Current Owner -->
                  <div class="table-padding-left">
                    <%= NameHelper.pretty_user_name(death_record.owner_id) %>
                    <div class="pull-right"><a class="edrs-bc-link" data-toggle="tooltip" title="Send email" href="mailto:<%= NameHelper.pretty_email(death_record.owner_id) %>"><span class="fa fa-envelope action-font"></span></a></div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>

<% unless current_user.registrar? %>
  <div class="container-fluid top-padding-lg">
    <h3>
      <% if current_user.admin? %>
        Voided Records
      <% else %>
        My Voided Records
      <% end %>
    </h3>
    <hr/>
    <div>
      <table class="table" id="voided_death_records_table" class="death-records-table">
        <thead>
          <tr>
            <th class="dt-header"></th>
            <th class="dt-header"></th>
            <th class="dt-header"></th>
            <th colspan="<%= StepsHelper.steps.count %>" class="text-center dt-header-bottom">Completion Status</th>
            <th class="dt-header"></th>
          </tr>
          <tr>
            <th class="dt-header-bottom">Decedent Name</th>
            <th class="dt-header-bottom">Start Date</th>
            <th class="dt-header-bottom">Last Updated</th>
            <% StepsHelper.steps_short.each do |step| %>
              <th class="text-center">
                <%= step.humanize %>
              </th>
            <% end %>
            <th class="dt-header-bottom text-center">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% @voided_death_records.each do |death_record| %>
            <tr>
              <td>
                <!-- Decedent Name -->
                <%= NameHelper.pretty_decedent_name(death_record) %>
              </td>
              <td>
                <!-- Death Record Start Date -->
                <%= DatetimeHelper.pretty_date(death_record.created_at) %>
              </td>
              <td>
                <!-- Death Record Last Updated -->
                <%= DatetimeHelper.pretty_date(death_record.updated_at) %>
              </td>
                <!-- Completion status -->
                <% StepsHelper.steps.each do |step| %>
                  <td class="text-center">
                    <%= render 'components/step_status', status: StepsHelper.step_status(step, death_record) %>
                  </td>
                <% end %>
              <td class="text-center">
                <!-- Actions -->
                <%= link_to reenable_death_record_path(death_record), { :class => 'edrs-bc-link', 'data-toggle' => 'tooltip', :title => 'Re-enable' }  do %><span class="fa fa fa-support action-font"></span><% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
