<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Death Record</h3>
        </div>
    </div>
    <% if current_user.has_role? :funeral_director %>
    <div class="container row">
        <%= link_to 'Register Record', death_records_path, method: :post, :class => "btn btn-success" %>
        <%= link_to 'Deny Record', death_records_path, method: :post, :class => "btn btn-cancel" %>
    </div>
    <% end %>
    <div class="row">
        <p/>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped" name="time_of_death">
                <tr>
                    <th colspan="2">Time of Death</td>
                </tr>
                <tr>
                    <td>Time Pronounced</td>
                    <td><%= @death_record.date_pronounced_dead.strftime("%b %d, %Y") %> <%= @death_record.time_pronounced_dead.strftime("%l:%M %p") %></td>
                </tr>
                <tr>
                    <td>Actual or Presume Time of Death</td>
                    <td><%= @death_record.actual_or_presumed_date_of_death.strftime("%b %d, %Y") %> <%= @death_record.actual_or_presumed_time_of_death.strftime("%l:%M %p") %></td>
                </tr>
            </table>
            <table class="table table-striped" name="death_record_details">
                <tr>
                    <th colspan="2">Death Record Details</td>
                </tr>
                <tr>
                    <td>Place of Death</td>
                    <td><%= @death_record.place_of_death_facility_name %></td>
                </tr>
                <tr>
                    <td>Place of Death Address</td>
                    <td>
                        <%=
                          display_address(@death_record.place_of_death_street_number,
                                          @death_record.place_of_death_city,
                                          @death_record.place_of_death_state,
                                          @death_record.place_of_death_zip_code,
                                          county: @death_record.place_of_death_county,
                                          apartment_number: @death_record.place_of_death_appt_number)
                        %>
                    </td>
                </tr>
                <tr>
                    <td>Was Medical Examiner or Coroner Contacted?</td>
                    <td><%= @death_record.was_medical_examiner_or_coroner_contacted ? 'yes' : 'no' %></td>
                </tr>
                <tr>
                    <td>Was Autopsy Performed?</td>
                    <td><%= @death_record.was_an_autopsy_performed ? 'yes' : 'no' %></td>
                </tr>
                <tr>
                    <td>Were Autopsy Findings Available?</td>
                    <td><%= @death_record.were_autopsy_findings_available ? 'yes' : 'no' %></td>
                </tr>
                <tr>
                    <td>Did Tobacco Use Contribute to Death?</td>
                    <td><%= @death_record.did_tobacco_use_contribute_to_death ? 'yes' : 'no' %></td>
                </tr>
                <tr>
                    <td>Pregnant?</td>
                    <td><%= @death_record.pregnancy_status %></td>
                </tr>
                <tr>
                    <td>Manner of Death</td>
                    <td><%= @death_record.manner_of_death %></td>
                </tr>
                <tr>
                    <td>Time of Injury</td>
                    <td><%unless @death_record.date_of_injury.nil? && @death_record.time_of_injury.nil? %>
                          <%= @death_record.date_of_injury.strftime("%b %d, %Y")%> <%= @death_record.time_of_injury.strftime("%l:%M %p") %>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td>Work Injury?</td>
                    <td><%= @death_record.injury_at_work ? 'yes' : 'no' %></td>
                </tr>
                <tr>
                    <td>Place of Injury</td>
                    <td><%= @death_record.place_of_injury %></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>
                        <%=
                          display_address(@death_record.location_of_injury_street_and_number,
                                          @death_record.location_of_injury_city,
                                          @death_record.location_of_injury_state,
                                          @death_record.location_of_injury_zip_code,
                                          apartment_number: @death_record.location_of_injury_apartment_number)
                        %>
                    </td>
                </tr>
                <tr>
                    <td>Description of Injury Occurrence</td>
                    <td><%= @death_record.description_of_injury_occurrence %></td>
                </tr>
                <tr>
                    <td>Transportation Injury?</td>
                    <td><%= @death_record.transportation_injury ? 'yes' : 'no' %></td>
                </tr>
                <tr>
                    <td>Transportation Injury Role</td>
                    <td><%= @death_record.transportation_injury_role %></td>
                </tr>
                <tr>
                    <td>Transportation Injury Role Specified</td>
                    <td><%= @death_record.transportation_injury_role_specified %></td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <table class="table table-striped" name="decedent">
                <tr>
                    <th colspan="2">Decedent</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><%= @death_record.last_name %> <%= @death_record.suffixes %>, <%= @death_record.first_name %> <%= @death_record.middle_name %></td>
                </tr>
                <tr>
                    <td>AKAs</td>
                    <td><%= @death_record.akas %></td>
                </tr>
                <tr>
                    <td>Social Security Number</td>
                    <td><%= @death_record.social_security_number %></td>
                </tr>
                <tr>
                    <td>Residence</td>
                    <td>
                        <%=
                          display_address(@death_record.street,
                                          @death_record.city,
                                          @death_record.state,
                                          @death_record.zip_code,
                                          apartment_number: @death_record.appt_number)
                        %>
                    </td>
                </tr>
                <tr>
                    <td>Sex</td>
                    <td><%= @death_record.sex %></td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td><%= @death_record.date_of_birth %></td>
                </tr>
                <tr>
                    <td>Served in US Armed Forces?</td>
                    <td><%= @death_record.ever_in_us_armed_forces ? 'yes' : 'no' %></td>
                </tr>
                <tr>
                    <td>Place of Birth</td>
                    <td><%= @death_record.birthplace_city %>, <%= @death_record.birthplace_state %> <%= @death_record.birthplace_country %></td>
                </tr>
                <tr>
                    <td>Spouse</td>
                    <td>
                        <span>
                          <%= @death_record.spouse_last_name %> <%= @death_record.spouse_suffixes %>, <%= @death_record.spouse_first_name %> <%= @death_record.spouse_middle_name %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Father</td>
                    <td>
                        <span>
                          <%= @death_record.father_last_name %> <%= @death_record.father_suffixes %>, <%= @death_record.father_first_name %> <%= @death_record.father_middle_name %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Mother</td>
                    <td>
                        <span>
                          <%= @death_record.mother_last_name %> <%= @death_record.mother_suffixes %>, <%= @death_record.mother_first_name %> <%= @death_record.mother_middle_name %>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Marital Status at Time of Death</td>
                    <td><%= @death_record.marital_status_at_time_of_death %></td>
                </tr>
                <tr>
                    <td>Education</td>
                    <td><%= @death_record.education %></td>
                </tr>
                <tr>
                    <td>Of Hispanic Origin?</td>
                    <td><%= @death_record.hispanic_origin %></td>
                </tr>
                <tr>
                    <td>Race</td>
                    <td><%= @death_record.race %></td>
                </tr>
                <tr>
                    <td>Usual Occupation</td>
                    <td><%= @death_record.usual_occupation %></td>
                </tr>
                <tr>
                    <td>Kind of Business</td>
                    <td><%= @death_record.kind_of_business %></td>
                </tr>
            </table>
            <table class="table table-striped" name="medical_certifier">
                <tr>
                    <th colspan="2">Medical Certifier</td>
                </tr>
                <tr>
                    <td>Date Certifier</td>
                    <td><%= @death_record.date_certified.strftime("%b %d, %Y") %></td>
                </tr>
                <tr>
                    <td>Certifier Type</td>
                    <td><%= @death_record.certifier_type %></td>
                </tr>
                <tr>
                    <td>Medical Certifier</td>
                    <td>
                        <span>
                            Name: <%= @death_record.medical_certifier_last %>, <%= @death_record.medical_certifier_first %><br/>
                            Title: <%= @death_record.medical_certifier_title %><br/>
                            License Number: <%= @death_record.medical_certifier_license_number %><br/>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Certifier Address</td>
                    <td>
                        <%=
                        display_address(@death_record.medical_certifier_street_and_number,
                          @death_record.medical_certifier_city,
                          @death_record.medical_certifier_state,
                          @death_record.medical_certifier_zip_code)
                      %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>