<%= simple_form_for(setup_death_record(@death_record), html: { class: 'form-vertical', :"data-toggle" => "formcache" }, method: :put, url: wizard_path) do |f| %>

  <fieldset>
    <legend>Place of Death</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <%= f.input :place_of_death_type, label: false, as: :radio_buttons, :collection => ['Inpatient', 'Outpatient/ER', 'DOA',
                                                                                              'Decedent\'s Home', 'Hospice Facility',
                                                                                              'Nursing Home/Long Term Care Facility', 'Other (specify)'], error: "Can't be blank, please select one."%>
          <%= f.input :place_of_death_type_specific, label: false %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Location of Death</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <%= f.input :place_of_death_facility_name, label: 'Facility Name', error: 'Facility Name is mandatory, please specify one.' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <%= f.input :place_of_death_street_number, label: 'Street', error: 'Street is mandatory, please specify one.' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <%= f.input :place_of_death_city, label: 'City', error: 'City is mandatory, please specify one.' %>
        </div>
        <div class="col-md-2">
          <%= f.input :place_of_death_state, label: 'State', error: 'State is mandatory, please specify one.' %>
        </div>
        <div class="col-md-2">
          <%= f.input :place_of_death_zip_code, label: 'Zip Code', error: 'Zip code is mandatory, please specify one.' %>
        </div>
        <div class="col-md-3">
          <%= f.input :place_of_death_county, label: 'County', error: 'County is mandatory, please specify one.' %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Date Pronounced Dead</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
           <%= f.input :date_pronounced_dead, label: false,  as: :date, start_year: Date.today.year - 250,
                    end_year: Date.today.year, order: [:month, :day, :year] %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Time Pronounced Dead</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <%= f.input :time_pronounced_dead, label: false, as: :time %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Pronouncer's' License Number</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :pronouncing_medical_certifier_license_number, label: false, error: 'Pronouncer License Number is mandatory, please specify one.' %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Date of Pronouncer's Signature</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
           <%= f.input :pronouncing_medical_certifier_date_of_signature, label: false,  as: :date, start_year: Date.today.year - 250,
                    end_year: Date.today.year, order: [:month, :day, :year] %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Date of Death</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
           <%= f.input :actual_or_presumed_date_of_death, label: false,  as: :date, start_year: Date.today.year - 250,
                    end_year: Date.today.year, order: [:month, :day, :year] %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <%= f.input :type_of_date_of_death, label: false, as: :radio_buttons, :collection => ['Actual', 'Approximate', 'Presumed'], error: "Can't be blank, please select one."%>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Time of Death</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
            <%= f.input :actual_or_presumed_time_of_death, label: false, as: :time %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <%= f.input :type_of_time_of_death, label: false, as: :radio_buttons, :collection => ['Actual', 'Approximate', 'Presumed'], error: "Can't be blank, please select one."%>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>ME or Coroner Contacted?</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <%= f.input :was_medical_examiner_or_coroner_contacted, label: false, as: :radio_buttons, :collection => ['Yes', 'No', 'Unknown'], error: "Can't be blank, please select one."%>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Autopsy Performed?</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <%= f.input :was_an_autopsy_performed, label: false, as: :radio_buttons, :collection => ['Yes', 'No'], error: "Can't be blank, please select one."%>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Autopsy Available to Complete Cause of Death?</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <%= f.input :were_autopsy_findings_available, label: false, as: :radio_buttons, :collection => ['Yes', 'No'], error: "Can't be blank, please select one."%>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Cause of Death</legend>
     <div class="row col-centered text-center">
        <h5>First listed cause of death is immediate, subsequent causes of death are underlying.</h5>
      </div>
    <div class="container-fluid">
      <%= f.simple_fields_for :cause_of_death do |c| %>
        <div class="row">
          <div class="col-md-7">
            <%= c.input :cause, label: 'Cause of Death', error: "Cause of Death is mandatory, please specify one." %>
          </div>
          <div class="col-md-5">
            <%= c.input :interval_to_death, label: 'Approx. Interval Onset to Death', error: "Cause of Death is mandatory, please specify one." %>
          </div>
        </div>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Did Tobacco Use Contribute to Death?</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <%= f.input :did_tobacco_use_contribute_to_death, label: false, as: :radio_buttons, :collection => ['Yes', 'No', 'Probably', 'Unknown'], error: "Can't be blank, please select one."%>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Pregnancy Status</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <%= f.input :pregnancy_status, label: false, as: :radio_buttons, :collection => ['Not pregnant in the past year',
                                                                                           'Pregnant at the time of death',
                                                                                           'Not pregnant, but pregnant within 42 days of death',
                                                                                           'Not pregnant, but pregnent 43 days to 1 year before death',
                                                                                           'Unknown if pregnant within the past year'], error: "Can't be blank, please select one."%>
        </div>
      </div>
    </div>
  </fieldset>

   <fieldset>
    <legend>Manner of Death</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <%= f.input :manner_of_death, label: false, as: :radio_buttons, :collection => ['Natural',
                                                                                          'Accident',
                                                                                          'Suicide',
                                                                                          'Homicide',
                                                                                          'Pending Investigation',
                                                                                          'Could not be determined'], error: "Can't be blank, please select one."%>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Name of Person Completing Cause of Death</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <%= f.input :medical_certifier_first, label: 'First Name', error: 'First name is mandatory, please specify one.' %>
        </div>
        <div class="col-md-3">
          <%= f.input :medical_certifier_middle, label: 'Middle Name' %>
        </div>
        <div class="col-md-4">
          <%= f.input :medical_certifier_last, label: 'Last Name (Maiden)', error: 'Last name is mandatory, please specify one.' %>
        </div>
        <div class="col-md-1">
          <%= f.input :medical_certifier_suffix, label: 'Suffix' %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Address of Person Completing Cause of Death</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <%= f.input :medical_certifier_street_and_number, label: 'Street', error: 'Street is mandatory, please specify one.' %>
        </div>
        <div class="col-md-2">
          <%= f.input :medical_certifier_apt, label: 'Apt.' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <%= f.input :medical_certifier_city, label: 'City', error: 'City is mandatory, please specify one.' %>
        </div>
        <div class="col-md-2">
          <%= f.input :medical_certifier_state, label: 'State', error: 'State is mandatory, please specify one.' %>
        </div>
        <div class="col-md-2">
          <%= f.input :medical_certifier_zip_code, label: 'Zip Code', error: 'Zip code is mandatory, please specify one.' %>
        </div>
        <div class="col-md-3">
          <%= f.input :medical_certifier_county, label: 'County', error: 'County is mandatory, please specify one.' %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>License Number of Person Completing Cause of Death</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <%= f.input :medical_certifier_license_number, label: false, error: 'License Number is mandatory, please specify one.' %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Certifier Type</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <%= f.input :certifier_type, label: false, as: :radio_buttons, :collection => ['Certifying Physician', 'Pronouncing and Certifying Physician', 'Medical Examiner/Coroner'], error: "Can't be blank, please select one."%>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Date Certified</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
           <%= f.input :date_certified, label: false,  as: :date, start_year: Date.today.year - 250,
                    end_year: Date.today.year, order: [:month, :day, :year] %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Select Registrar</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <%= f.input :user_id, :collection => @registrars, :label_method => :email, :value_method => :id%>
      </div>
    </div>
  </fieldset>

  <div class="text-right">
    <%= f.button :button, 'Cancel', type: :reset, class: 'btn btn-none' %>
    <%= f.button :button, 'Save', class: 'btn btn-success' %>
    <%= f.button :submit, 'Send', class: 'btn btn-primary' %>
  </div>

<% end %>