<%= simple_form_for(@death_record, html: { class: 'form-vertical' }, method: :put, url: wizard_path) do |f| %>

 <fieldset>
    <legend><%=@title%></legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <%= f.input :owner_id, :collection => @users_with_roles, :label_method => :email, :value_method => :id%>
      </div>
    </div>
  </fieldset>


  <div class="text-right">
    <%= f.button :button, 'Cancel', type: :reset, class: 'btn btn-none' %>
    <%= f.button :submit, 'Send', class: 'btn btn-primary' %>
  </div>

<% end %>