<% if @questions.length > 0 %>
  <fieldset>
    <legend>Supplemental Questions</legend>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <%= f.input :supplemental_error, as: :custom_hidden, error: 'Please answer all required (*) supplemental questions.' %>
        </div>
      </div>
      <% @questions.each do |question| %>
        <% if question.required %>
          <% req = '* ' %>
        <% else %>
          <% req = '' %>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <% if question.question_type == 'Text' %>
              <%= f.input 'question' + question.id.to_s, as: :custom_text, death_record_id: @death_record.id, label: req + question.question %>
            <% elsif question.question_type == 'True or False' %>
              <%= f.input 'question' + question.id.to_s, as: :custom_boolean, death_record_id: @death_record.id, label: req + question.question %>
            <% elsif question.question_type == 'Multiple Choice' %>
              <%= f.input 'question' + question.id.to_s, as: :custom_multiple, death_record_id: @death_record.id, label: req + question.question, collection: question.get_options %>
            <% elsif question.question_type == 'Date and Time' %>
              <%= f.input 'question' + question.id.to_s, as: :custom_datetime, death_record_id: @death_record.id, label: req + question.question %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>