<script>
$(document).ready(function() {
  enableSelect2ForDropdowns(['death_record_funeral_facility_name'])
  
  // Funeral director was selected
  $('#death_record_funeral_facility_name').change(function(data) {
    var fd = $('#death_record_funeral_facility_name :selected').text();
    $.get("/entity/funeral_facility_details", {'name': fd},
      function(data) {
        $('#death_record_funeral_facility_street_and_number').val(data.street_and_number)
        $('#death_record_funeral_facility_city').val(data.city)
        $('#death_record_funeral_facility_state').val(data.state)
        $('#death_record_funeral_facility_zip_code').val(data.zip_code)
        $('#death_record_funeral_facility_county').val(data.county)
    })
  });
});
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <%= f.input :funeral_facility_name, required: true, label: 'Facility Name', error: 'Facility Name is mandatory, please specify one.', collection: EntityHelper.get_funeral_facility_names %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :funeral_facility_state, required: true, label: 'State', error: 'State is mandatory, please specify one.' %>
    </div>
    <div class="col-md-3">
      <%= f.input :funeral_facility_county, required: true, label: 'County', error: 'County is mandatory, please specify one.' %>
    </div>
    <div class="col-md-5">
      <%= f.input :funeral_facility_city, required: true, label: 'City', error: 'City is mandatory, please specify one.' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :funeral_facility_zip_code, required: true, label: 'Zip Code', error: 'Zip code is mandatory, please specify one.' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= f.input :funeral_facility_street_and_number, required: true, label: 'Street', error: 'Street is mandatory, please specify one.' %>
    </div>
  </div>
</div>