<% identifier = identifier + '_' if !identifier.empty? %>
<script>
  $(document).ready(function() {
    // Reset inputs
    $('#' + 'death_record_' + '<%= identifier %>' + 'state').val($("#target option:first").val());
    disableInputs(['death_record_' + '<%= identifier %>' + 'street_and_number', 'death_record_' + '<%= identifier %>' + 'apt', 'death_record_' + '<%= identifier %>' + 'county', 'death_record_' + '<%= identifier %>' + 'city', 'death_record_' + '<%= identifier %>' + 'zip_code']);

    enableSelect2ForDropdowns(['death_record_' + '<%= identifier %>' + 'state', 'death_record_' + '<%= identifier %>' + 'county', 'death_record_' + '<%= identifier %>' + 'city', 'death_record_' + '<%= identifier %>' + 'zip_code'])

    // State was selected
    $('#death_record_' + '<%= identifier %>' + 'state').change(function(data) {
      var state = $('#death_record_' + '<%= identifier %>' + 'state :selected').text();
      $.get("/geographic/counties", {'state': state},
        function(data) {
          // Update form
          clearDropdowns(['death_record_' + '<%= identifier %>' + 'county', 'death_record_' + '<%= identifier %>' + 'city', 'death_record_' + '<%= identifier %>' + 'zip_code'])
          clearInputs(['death_record_' + '<%= identifier %>' + 'street_and_number', 'death_record_' + '<%= identifier %>' + 'apt'])
          addOptions('death_record_' + '<%= identifier %>' + 'county', data)
          enableInputs(['death_record_' + '<%= identifier %>' + 'county'])
          disableInputs(['death_record_' + '<%= identifier %>' + 'city', 'death_record_' + '<%= identifier %>' + 'zip_code', 'death_record_' + '<%= identifier %>' + 'street_and_number', 'death_record_' + '<%= identifier %>' + 'apt'])
      })
    });

    // County was selected
    $('#death_record_' + '<%= identifier %>' + 'county').change(function(data) {
      var state = $('#death_record_' + '<%= identifier %>' + 'state :selected').text();
      var county = $('#death_record_' + '<%= identifier %>' + 'county :selected').text();
      $.get("/geographic/cities", {'state': state, 'county': county},
        function(data) {
          // Update form
          clearDropdowns(['death_record_' + '<%= identifier %>' + 'city', 'death_record_' + '<%= identifier %>' + 'zip_code'])
          clearInputs(['death_record_' + '<%= identifier %>' + 'street_and_number', 'death_record_' + '<%= identifier %>' + 'apt'])
          addOptions('death_record_' + '<%= identifier %>' + 'city', data)
          enableInputs(['death_record_' + '<%= identifier %>' + 'city'])
          disableInputs(['death_record_' + '<%= identifier %>' + 'zip_code', 'death_record_' + '<%= identifier %>' + 'street_and_number', 'death_record_' + '<%= identifier %>' + 'apt'])
      })
    });

    // City was selected
    $('#death_record_' + '<%= identifier %>' + 'city').change(function(data) {
      var state = $('#death_record_' + '<%= identifier %>' + 'state :selected').text();
      var county = $('#death_record_' + '<%= identifier %>' + 'county :selected').text();
      var city = $('#death_record_' + '<%= identifier %>' + 'city :selected').text();
      $.get("/geographic/zipcodes", {'state': state, 'county': county, 'city': city},
        function(data) {
          // Update form
          clearDropdowns(['death_record_' + '<%= identifier %>' + 'zip_code'])
          clearInputs(['death_record_' + '<%= identifier %>' + 'street_and_number', 'death_record_' + '<%= identifier %>' + 'apt'])
          addOptions('death_record_' + '<%= identifier %>' + 'zip_code', data)
          enableInputs(['death_record_' + '<%= identifier %>' + 'zip_code'])
          disableInputs(['death_record_' + '<%= identifier %>' + 'street_and_number', 'death_record_' + '<%= identifier %>' + 'apt'])
      })
    });

    // Zipcode was selected
    $('#death_record_' + '<%= identifier %>' + 'zip_code').change(function(data) {
      clearInputs(['death_record_' + '<%= identifier %>' + 'street_and_number', 'death_record_' + '<%= identifier %>' + 'apt'])
      enableInputs(['death_record_' + '<%= identifier %>' + 'street_and_number', 'death_record_' + '<%= identifier %>' + 'apt'])
    });
  });
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <%= f.input identifier + 'state', label: 'State', input_html: { :autocomplete => "off" }, required: true, error: 'State is mandatory, please specify one.', collection: GeoHelper.get_states %>
    </div>
    <div class="col-md-3">
      <%= f.input identifier + 'county', label: 'County', input_html: { :autocomplete => "off" }, required: true, error: 'County is mandatory, please specify one.', collection: [] %>
    </div>
    <div class="col-md-5">
      <%= f.input identifier + 'city', label: 'City', input_html: { :autocomplete => "off" }, required: true, error: 'City is mandatory, please specify one.', collection: [] %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input identifier + 'zip_code', label: 'Zip Code', input_html: { :autocomplete => "off" }, required: true, error: 'Zip code is mandatory, please specify one.', collection: [] %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= f.input identifier + 'street_and_number', input_html: { :autocomplete => "off" }, label: 'Street', required: true, error: 'Street is mandatory, please specify one.' %>
    </div>
    <div class="col-md-2">
      <%= f.input identifier + 'apt', input_html: { :autocomplete => "off" }, label: 'Apt/Suite/Unit' %>
    </div>
  </div>  
</div>
