<script>
  $(document).ready(function() {
    // Reset inputs
    $('#' + 'death_record_birthplace_country').val($("#target option:first").val());

    enableSelect2ForDropdowns(['death_record_birthplace_country', 'birthplace_state_usa', 'birthplace_city_usa'])

    // Country was selected
    $('#death_record_birthplace_country').change(function(data) {
      var country = $('#death_record_birthplace_country :selected').text();
      if (country === "United States") {
        // Use structured data for input
        $("#other_input").addClass("hidden");
        $("#usa_input").removeClass("hidden");
        addOptions('birthplace_state_usa', <%= GeoHelper.get_states.to_json.html_safe %>)
        enableInputs(['birthplace_state_usa'])
        clearDropdowns(['birthplace_city_usa'])
        disableInputs(['birthplace_city_usa'])
      } else {
        // Use free text for input
        $("#other_input").removeClass("hidden");
        $("#usa_input").addClass("hidden");
        enableInputs(['birthplace_state_other', 'birthplace_city_other'])
        clearDropdowns(['birthplace_state_usa', 'birthplace_city_usa'])
        disableInputs(['birthplace_state_usa', 'birthplace_city_usa'])
      }
    });

    // State was selected
    $('#birthplace_state_usa').change(function(data) {
      var state = $('#birthplace_state_usa :selected').text();
      $.get("/geographic/cities", {'state': state},
        function(data) {
          // Update form
          clearDropdowns(['birthplace_city_usa'])
          addOptions('birthplace_city_usa', data)
          enableInputs(['birthplace_city_usa'])
      })
    });

    // City was selected
    $('#birthplace_city_usa').change(function(data) {
      var state = $('#birthplace_state_usa :selected').text();
      var city = $('#birthplace_city_usa :selected').text();
      $('#birthplace_state_other').val(state)
      $('#birthplace_city_other').val(city)
    });
  });
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= f.input :birthplace_country, input_html: { :autocomplete => "off" }, as: :country, required: true, priority: ["US", "CA", "MX"], label: 'Country', error: 'Country is mandatory, please specify one.' %>
    </div>
    <div id="usa_input">
      <div class="col-md-3">
        <%= f.input :birthplace_state, input_html: { :autocomplete => "off" }, :input_html => { id: 'birthplace_state_usa'}, required: true, label: 'State', error: 'State is mandatory, please specify one.', disabled: true, collection: [] %>
      </div>
      <div class="col-md-4">
        <%= f.input :birthplace_city, input_html: { :autocomplete => "off" }, :input_html => { id: 'birthplace_city_usa'}, required: true, label: 'City', error: 'City is mandatory, please specify one.', disabled: true, collection: [] %>
      </div>
    </div>
    <div id="other_input" class="hidden">
      <div class="col-md-3">
        <%= f.input :birthplace_state, input_html: { :autocomplete => "off" }, :input_html => { id: 'birthplace_state_other'}, required: true, label: 'State/Province/Region', error: 'State is mandatory, please specify one.', disabled: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :birthplace_city, input_html: { :autocomplete => "off" }, :input_html => { id: 'birthplace_city_other'}, required: true, label: 'City', error: 'City is mandatory, please specify one.', disabled: true %>
      </div>
    </div>
  </div>
</div>