<script>
  // Formatting function for row details - modify as you need
  function format(d) {
    // 'd' is the original data object for the row
    return d.changes;
  }
  $(document).ready(function () {
    var table = $('#audits_table').DataTable({
      'autoWidth': false,
      'language': {
        'emptyTable': 'No audit logs generated.'
      },
      "columns": [
        {
          "className": 'details-control',
          "orderable": false,
          "data": null,
          "defaultContent": ''
        }, {
          "data": "action"
        }, {
          "data": "type"
        }, {
          "data": "when"
        }, {
          "data": "who"
        }, {
          "data": "changes",
          "visible": false
        }
      ]
    });
    $('#audits_table tbody').on('click', 'td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row(tr);
      if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      } else {
        // Open this row
        row.child(format(row.data())).show();
        tr.addClass('shown');
      }
    });
    // Once everything is loaded we display the table
    $('#audits_table').show();
  });
</script>
<div class="mt-3 mb-3">
  <%= react_component('Breadcrumb', {currentUser: current_user, crumbs: [{ name: 'Dashboard', url: death_records_path }, { name: 'Administration', url: admins_path }, { name: 'Audit Report' }]}) %>
</div>
<div class="row mt-3 mb-3">
  <h3>Audit Report</h3>
</div>
<div class="row">
  <table id="audits_table">
    <thead>
      <tr>
        <th>Changes</th>
        <th>Action</th>
        <th>Type</th>
        <th>When</th>
        <th>Who</th>
        <th>Changes</th>
      </tr>
    </thead>
    <tbody>
      <% @audits.each do |audit| %>
        <tr>
          <td></td>
          <td>
            <%= audit.action.humanize %>
          </td>
          <td>
            <%= audit.auditable_type %>
          </td>
          <td>
            <!-- Datatables doesn't sort on formatted dates and times well -->
            <%= audit.created_at %>
          </td>
          <td>
            <% if audit.user.nil?%>
              User not registered yet
            <% else %>
              <%= audit.user.email %>
            <% end %>
          </td>
          <td>
            <!-- Hidden table that will be displayed when user clicks "Expand" button for each row -->
            <table class="table" id="audit_changes_table">
              <thead>
                <tr>
                  <th>Field</th>
                  <th>From</th>
                  <th>To</th>
                </tr>
              </thead>
              <tbody>
                <% audit.audited_changes.each do |k, v| %>
                  <tr>
                    <% if k == 'contents' # Step Content has changed.%>
                      <% if v.class == Array %>
                        <% v.each do | change | # Structure of change is ['symbol', 'key', 'value1', 'value2']%>
                        <tr>
                          <td>
                            <% if change[1].nil? %>
                              <%= change[1] %>
                            <% else %>
                              <%= change[1].titleize %>
                            <% end %>
                          </td>
                          <td>
                            <% if change.length < 4 # If there is no 4th element, then we know its a new value %>
                              New
                            <% else %>
                              <%= change[2] %>
                            <% end %>
                          </td>
                          <td>
                            <% if change[3] %>
                              <%= change[3] %>
                            <% else %>
                              <%= change[2]%>
                            <% end %>
                          </td>
                          <tr>
                          <% end %>
                        <% end %>
                      <% else %>
                        <td>
                          <%= k.titleize %>
                        </td>
                        <% if v.class == Array # If updated %>
                          <td>
                            <%= "'#{v[0]}'" %>
                          </td>
                          <td>
                            <%= "'#{v[1]}'" %>
                          </td>
                        <% else # If created %>
                          <td>
                            New
                          </td>
                          <td>
                            <%= v %>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
