<script>
  // Formatting function for row details - modify as you need
  function format(d) {
    // 'd' is the original data object for the row
    return d.changes;
  }
  $(document).ready(function () {
    $('#event_period').datepicker({
      inputs: $('.actual_range'),
      startDate: '-3y',
      endDate: '0d',
      todayBtn: 'linked',
      todayHighlight: 'true',
      format: 'yyyy-mm-dd'
    });
    var table = $('#audits_table').DataTable({
      'language': {
        'emptyTable': 'No Supplemental Questions have been created.'
      },
      "columns": [
        {
          "className": 'details-control',
          "orderable": false,
          "data": null,
          "defaultContent": ''
        }, {
          "data": "action"
        }, {
          "data": "type"
        }, {
          "data": "when"
        }, {
          "data": "who"
        }, {
          "data": "changes",
          "visible": false
        }
      ]
    });
    $('#audits_table tbody').on('click', 'td.details-control', function () {
      var tr = $(this).closest('tr');
      var row = table.row(tr);
      if (row.child.isShown()) {
        // This row is already open - close it
        row.child.hide();
        tr.removeClass('shown');
      } else {
        // Open this row
        row.child(format(row.data())).show();
        tr.addClass('shown');
      }
    });
    // Once everything is loaded we display the table
    $('#audits_table').show();
  });
</script>

<div class="container">
  <div class="row">
    <%= render 'components/breadcrumb', crumbs: {"Dashboard" => death_records_path, "Admin" => admins_path, "Audit Report" => nil} %>
  </div>
  <h3>Audit Report</h3>
  <hr/>

  <div>
    Average amount of time for death records to currently be completed:
    <b>
      <%= @mean %>
    </b>
  </div>
  <br>

  <table class="table" id="audits_table" width="100%" style="display:none">
    <thead>
      <tr>
        <th>Changes</th>
        <th>Action</th>
        <th>Type</th>
        <th>When</th>
        <th>Who</th>
        <th>Changes</th>
      </tr>
    </thead>
    <tbody>
      <% @audits.each do |audit| %>
      <tr>
        <td></td>
        <td>
          <%= audit.action.humanize %>
        </td>
        <td>
          <%= audit.auditable_type %>
        </td>
        <td>
          <!-- Datatables doesn't sort on formatted dates and times well -->
          <%= audit.created_at %>
        </td>
        <td>
          <% if audit.user.nil?%>
          User not registered yet
        <% else %>
          <%= audit.user.email %>
          <% end %>
        </td>
        <td>
          <!-- Hidden table that will be displayed when user clicks "Expand" button for each row -->
          <table class="table" id="audit_changes_table" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
            <thead>
              <tr>
                <th>Field</th>
                <th>From</th>
                <th>To</th>
              </tr>
            </thead>
            <tbody>
              <% audit.audited_changes.each do |k, v| %>
              <tr>
                <td>
                  <%= k.titleize %>
                </td>
                <% if v.class == Array # If updated %>
                <td>
                  <%= "'#{v[0]}'" %>
                </td>
                <td>
                  <%= "'#{v[1]}'" %>
                </td>
              <% else # If created %>
                <td>
                  New
                </td>
                <td>
                  <%= v %>
                </td>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>