<!DOCTYPE html>
<html>
  <head>
    <title>EDRS</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if !current_user.nil? && user_signed_in? %>
      <%= render "layouts/header" %>
      <div id="wrap">
        <div class="container">
          <% flash.each do |key, value| %>
            <% if key == 'danger' %>
              <div class="alert alert-danger">
            <% elsif key == 'warning' %>
              <div class="alert alert-warning">
            <% elsif key == 'notice' %>
              <div class="alert alert-success">
            <% else %>
              <div class="alert alert-info">
            <%end %>
            <%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
